h1 {
    text-align: center;
    font-size: 3rem;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    /* flex: 1 1 auto; */
    /* align-items: flex-start; */
}

#add-btn {
    height: 4.5em;
    width: 4.5em;
    margin: 0px 0px 0px 25px;
}

#input-box {
    width: 20em;
    font-size: 2rem;
}

#task-completion {
    margin-left: 12.5px;
    font-size: 1rem;
}


/* #input-box {
    width: 4.5em;
    height: 4.5em;
    /* why does this get smaller?